.weather {
  position: fixed;
  top: 0;
  right: 2rem;
  font-size: 1rem;
  border-radius: 50%;
  padding: 1rem 0.5rem;
}
.weather--right {
  right: -4rem;
}
.weather__temp {
  display: flex;
  align-items: center;
}
.weather__location {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather__icon {
  color: var(--primary-color);
  font-size: 2rem;
}
.weather__input {
  padding: 0 0.5rem;
  outline: none;
  background: transparent;
  border: 0;
  border-bottom: 0.1rem solid;
  font-size: 1rem;
  width: 50%;
  text-align: start;
}

.weather__edit {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  right: 0;
}
.weather:hover .weather__edit {
  opacity: 1;
  transform: translateX(75%);
}
.weather__edit:hover {
  background-color: var(--light-shade);
}

.weather__input::placeholder {
  color: var(--primary-color);
}

.loader {
  margin-top: -1.5rem;
}
